In [2]:
import numpy as np
import pandas as pd
import joblib
import os

In [3]:
# Load the train data into dataframe
Provider = pd.read_csv("/content/Train-1542865627584.csv")
Beneficiary = pd.read_csv("/content/Train_Beneficiarydata-1542865627584.csv")
Inpatient = pd.read_csv("/content/Train_Inpatientdata-1542865627584.csv")
Outpatient = pd.read_csv("/content/Train_Outpatientdata-1542865627584.csv")

In [4]:
from sklearn.model_selection import train_test_split
# split the provider data into train and validation

Train_Provider, Validation_Provider = train_test_split(Provider, test_size=0.2, random_state=42, stratify=Provider['PotentialFraud'])
Train_Provider = Train_Provider.sort_index(axis=0)
Validation_Provider = Validation_Provider.sort_index(axis=0)

In [5]:
Train_Provider.head(2)

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes

In [6]:
Validation_Provider.head(2)

   Provider PotentialFraud
3  PRV51005            Yes
5  PRV51008             No

In [8]:
Train_Provider.shape,Validation_Provider.shape

((4328, 2), (1082, 2))

In [9]:
# save the train and validation provider into csv file
Train_Provider.to_csv('Train_Provider.csv', index=False)
Validation_Provider.to_csv('Validation_Provider.csv', index=False)

# creating inpatient data train and validation

In [28]:
# Select only rows in Inpatient that have a Provider value in Train_Provider or Validation_Provider
Train_Inpatient = Inpatient[Inpatient['Provider'].isin(Train_Provider['Provider'])].sort_index()
Validation_Inpatient = Inpatient[Inpatient['Provider'].isin(Validation_Provider['Provider'])].sort_index()

In [29]:
Train_Inpatient.head(2)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN

In [30]:
Validation_Inpatient.head(2)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN
9,BENE11034,CLM31519,2008-12-29,2009-01-05,PRV55215,29000,PHY355604,PHY415867,NaN,2008-12-29,...,4019,4111,4589,NaN,3612.0,4139.0,NaN,NaN,NaN,NaN

In [31]:
Train_Inpatient.shape,Validation_Inpatient.shape

((31496, 30), (8978, 30))

In [14]:
# save the train and inpatient provider into csv file
Train_Inpatient.to_csv('Train_Inpatient.csv', index=False)
Validation_Inpatient.to_csv('Validation_Inpatient.csv', index=False)

#Create train and validation Outpatient data

In [32]:
# Filter Outpatient based on Provider values in Train_Provider and Validation_Provider
common_rows_tr_op = Outpatient['Provider'].isin(Train_Provider['Provider'])
Train_Outpatient = Outpatient[common_rows_tr_op].sort_index()

common_rows_val_op = Outpatient['Provider'].isin(Validation_Provider['Provider'])
Validation_Outpatient = Outpatient[common_rows_val_op].sort_index()

In [33]:
Train_Outpatient.head(2)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380

In [34]:
Validation_Outpatient.head(2)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
21,BENE11005,CLM605760,2009-09-30,2009-10-20,PRV54064,50,PHY419180,NaN,PHY419180,71944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,NaN
33,BENE11011,CLM347780,2009-05-08,2009-05-08,PRV51012,50,PHY429635,NaN,PHY322331,37500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,37611

In [35]:
Train_Outpatient.shape , Validation_Outpatient.shape

((392939, 27), (124798, 27))

In [19]:
# save the train and outpatient provider into csv file
Train_Outpatient.to_csv('Train_Outpatient.csv', index=False)
Validation_Outpatient.to_csv('Validation_Outpatient.csv', index=False)

In [27]:
# Import the files module
from google.colab import files

# Download a CSV file
files.download('Validation_Outpatient.csv')

#Create train and validation Beneficiary data

In [20]:
bene_tr_ip = list(Train_Inpatient['BeneID'])
bene_tr_op = list(Train_Outpatient['BeneID'])
bene_tr = set(bene_tr_ip + bene_tr_op)

bene_val_ip = list(Validation_Inpatient['BeneID'])
bene_val_op = list(Validation_Outpatient['BeneID'])
bene_val = set(bene_val_ip + bene_val_op)

In [36]:
# Filter Beneficiary based on the BeneID values in bene_tr and bene_val
common_rows_tr_bene = Beneficiary['BeneID'].isin(bene_tr)
Train_Beneficiary = Beneficiary[common_rows_tr_bene].sort_index()

common_rows_val_bene = Beneficiary['BeneID'].isin(bene_val)
Validation_Beneficiary = Beneficiary[common_rows_val_bene].sort_index()

In [37]:
Train_Beneficiary.head(2)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50

In [38]:
Validation_Beneficiary.head(2)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200
10,BENE11011,1914-03-01,NaN,2,2,0,1,360,12,12,...,1,1,2,2,1,1,5000,1068,250,320

In [39]:
Train_Beneficiary.shape , Validation_Beneficiary.shape

((124969, 25), (61836, 25))

In [25]:

# save the train and outpatient beneficiary into csv file
Train_Beneficiary.to_csv('Train_Beneficiary.csv', index=False)
Validation_Beneficiary.to_csv('Validation_Beneficiary.csv', index=False)

In [26]:
# Import the files module
from google.colab import files

# Download a CSV file
files.download('Validation_Beneficiary.csv')